<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock title %}</title>
  <style media="screen">

  </style>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body id="home" data-spy="scroll" data-target=".navbar" data-offset="100">
  <nav class="navbar navbar-expand-lg navbar-light  fixed-top ">
     <div class="container">
      <a class="navbar-brand order-1 " href="#" style="text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px LightGray;">Alhusamia-Store</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="{% url 'car-list'%}">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="#about">about</a>
          <a class="nav-item nav-link" href="{% url 'car-create'%}">Create</a>
        </div>
      </div>
   </div>
</nav>
<div class="container">
  {% if messages %}
    {% for message in messages %}
      <div class="container">
        {{message}}
      </div>
    {% endfor %}
  {% endif %}

</div>
  <div class="container pt-5 text-sm-center">
    {% block content %}

    {% endblock content %}
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</body>
</html>
