{% extends "base.html" %}

{% block title %}Car Detail{% endblock title %}

{% block content %}

		<h1>
			{{car.make}} - {{car.model}}
			<small>
				{{car.year}}
			</small>
		</h1>
		{% if car.img %}
		<img src="{{car.img.url}}" >
		{% endif %}
		<a href="{% url 'car-delete' car.id %}">
			<button type="button" class="btn btn-danger">Delete</button>
		</a>
    <a href="{% url 'car-update' car.id %}">
      <button type="button" class="btn btn-warning">update</button>
    </a>
		<hr>
{% endblock content %}
